<body>
<h1>ポートフォリオ一覧サイト</h1>
<p>自分が作成したポートフォリオのまとめサイトです。
<br>気になるものがあればご覧ください！！</p>

<h2>railsで作成したアプリです</h2>
<%= link_to 'タグ付きツイートアプリ', 'https://tagtweet.herokuapp.com/' %>
<p>このアプリは自分のツイートにタグを付けて検索しやすいようになっています♫</p>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</body>